USE [webform_s3301108]
GO
/****** Object:  StoredProcedure [dbo].[getCategory]    Script Date: 2014/10/19 0:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[getCategory]
As
Select * FROM Category